@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  background-color: #2a2a2a; /* medium grey highlight */
  color: #cccccc;            /* light text */
  padding: 1px 4px;
  border-radius: 4px;
  font-family: "Fira Code", monospace;
  font-size: 0.95em;
}
